# STATS 306 Fall 2021
## Homework 4: More about Data Transformation, 30 points



**Assigned:** 09/23/2021 

**Due:** 09/30/2021 by 11:59pm

Your uniqid: `<replace with your uniqid>`

You will be using the packages `tidyverse`, `nycflights13`, and `bil.RData` in this homework set.  The `flights` data set will be available after loading the library `nycflights13`.  To load `bil.RData`, you have to put `bil.RData` in the same folder as your `HW4.ipynb` and type `load("bil.RData")`.

In [2]:
library(tidyverse)
library(nycflights13)
load("bil.RData")

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.3     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.0.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
print(flights)

# A tibble: 336,776 × 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# … with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

## Problem 1, 8 points

**(a)**  Alice wants to compute the standard deviation for the departure delay (`dep_delay`) of flights grouped by month (`month`). She types:

```
flights %>%
    group_by(month) %>% filter(is.na(dep_delay)) %>% 
    summarize(delay = sd(dep_delay))
```

But all of the values in the `delay` column of the computed tibble are `NA`. Explain, as briefly as possible, what is going on? How do you fix the code to achieve her goal?  _3 points_

**(b)**  Make a table with a column named `count` in the summarized tibble that has the count of the number of flights flying to each destination airport and the mean for the arrival delay `arr_delay`. Then sort the rows in increasing order of the mean arrival array. Use a single command involving pipes to accomplish both tasks. _3 points_

**(c)** Which airport has the least average delay? How many flights is this conclusion drawn from? Is it a reliable conclusion? _2 points_

## Problem 2, More Data Manipulation on Flight Data, 14 points

**(a)** Drop the odd-numbered columns of `flights`. Store the resulting data table in a variable called `tableodd`.  _2 points_

**(b)** The tail number of the flight which was in the air for the longest amount of time was `N77066` with an air-time of 695 minutes.

Find the *unique* tail numbers(s) of the flights that were in the air for the second longest and third shortest amounts of time. Store these tail numbers as vectors in variables called `longest2_tail_num` and `shortest3_tail_num`, respectively. _4 points_

Hint: Think about ranks

**(c)** How many flights have a tail number that begin with N4?  Find those rows and print them out. _2 points_

(*Hint*: the `str_sub()` command can be used to extract the first 2 characters of a string variable.)

**(d)** Select all the columns in flights which end with "delay". In the resulting table, define a new column `max_delay` which equals the maximum of the departure and arrival delays for each flight. For example, if a flight had a departure delay of `-1` and an arrival delay of `10`, the `max_delay` would equal `10`. If one or both of the delay columns is `NA`, `max_delay` should also equal `NA`. Sort your table in descending order of `max_delay` and store it in a variable called `max_delay_table`. Print the table out using the `print` function.  The first row of your table should print `1301`, `1272`, `1301` _3 points_

Hint: you may find the function `pmax` useful.

**(e) Challenge Problem** Recall that each airplane has a unique tail number given by `tailnum`. Find the tail number of the airplane which flew to the largest number of *unique* destinations from any of the the three departure airports in `flights`. Store the string containing this tail number in a variable called `most_dests`. _3 points_

Hint: you may find the function `distint` and `ungroup` useful.

## Problem 3, Thoughts on Billionaires , 8 points

**(a)** In which country are billionaires oldest on average? Youngest? (Assume all billionaires reside in country of their citizenship.) Do not count any country which has less than 10 observations. Store your answers in variables `oldest1` and `youngest1`, respectively. _4 points_

**(b) Challenge Problem** Each billionaire has a `category` indicating how they made their fortune. The overall distribution of categories is:

In [27]:
table(bil$category)

            energy            Finance          Financial        New Sectors
                 1                  1                800                319
Non-Traded Sectors   Resource Related     Traded Sectors           Trucking
               597                245                564                  1

After excluding billionaires with missing ages, group them into three age brackets: "30 and under", "31 to 50", and "above 50". (There are 6 billionaires aged 30 and under, for example.) What is the most common category of billionaire in each of the three age brackets? Store your answer in `table2`. The table should have three rows (one per category) and three columns: `age_bracket`, `most_common_category` and `n`, the number of billionaires in the most common category. Sort the table in descending order of `n`. _4 points_

Hint: You may find the function ifelse useful, type ?ifelse to learn more about it in R.  You can create a variable using mutate and the function ifelse.