# Lecture 5.1: More About Exploratory Data Analysis 

<div style="border: 1px double black; padding: 10px; margin: 10px">

**Goals for today's lecture:**
* Continue on our Baseball Players Case Studies
* the **covariation** between two variables:
    
This lecture note corresponds to parts of Chapter 7 of your book.
</div>

In [2]:
library(tidyverse)
library(nycflights13)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.3     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.0.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Case Studies 

### Who is the greatest batter of all time?
The `Lahman` dataset contains information on baseball players.

In [3]:
# install.packages("Lahman")
library(Lahman)
bat <- as_tibble(Batting) %>% print

# A tibble: 108,789 × 22
   playerID  yearID stint teamID lgID      G    AB     R     H   X2B   X3B    HR
   <chr>      <int> <int> <fct>  <fct> <int> <int> <int> <int> <int> <int> <int>
 1 abercda01   1871     1 TRO    NA        1     4     0     0     0     0     0
 2 addybo01    1871     1 RC1    NA       25   118    30    32     6     0     0
 3 allisar01   1871     1 CL1    NA       29   137    28    40     4     5     0
 4 allisdo01   1871     1 WS3    NA       27   133    28    44    10     2     2
 5 ansonca01   1871     1 RC1    NA       25   120    29    39    11     3     0
 6 armstbo01   1871     1 FW1    NA       12    49     9    11     2     1     0
 7 barkeal01   1871     1 RC1    NA        1     4     0     1     0     0     0
 8 barnero01   1871     1 BS1    NA       31   157    66    63    10     9     0
 9 barrebi01   1871     1 FW1    NA        1     5     1     1     1     0     0
10 barrofr01   1871     1 BS1    NA       18    86    13    13     2     1     0
# … with 108,779 more rows, and 10 more variables: RBI <int>, SB <int>,
#   CS <int>, BB <int>, SO <int>, IBB <int>, HBP <int>, SH <int>, SF <int>,
#   GIDP <int>

### Exercise
Output all the years in which the batting average for those years for cobbty01 is less than his bat_avg across all years. That is, we are interested in knowing which year cobbty01 underperform.

In [4]:
bat %>% filter(playerID=="cobbty01") %>% 
mutate(bat_avg = sum(H, na.rm = T) / sum(AB, na.rm = T), bat_avg_year = H/AB) %>%
filter(bat_avg_year < bat_avg) %>% print

# A tibble: 10 × 24
   playerID yearID stint teamID lgID      G    AB     R     H   X2B   X3B    HR
   <chr>     <int> <int> <fct>  <fct> <int> <int> <int> <int> <int> <int> <int>
 1 cobbty01   1905     1 DET    AL       41   151    19    36     6     0     1
 2 cobbty01   1906     1 DET    AL       98   358    45   113    15     5     1
 3 cobbty01   1907     1 DET    AL      150   605    99   212    28    14     5
 4 cobbty01   1908     1 DET    AL      150   580    88   188    36    20     4
 5 cobbty01   1920     1 DET    AL      112   428    86   143    28     8     2
 6 cobbty01   1923     1 DET    AL      145   556   103   189    40     7     6
 7 cobbty01   1924     1 DET    AL      155   625   115   211    38    10     4
 8 cobbty01   1926     1 DET    AL       79   233    48    79    18     5     4
 9 cobbty01   1927     1 PHA    AL      134   490   104   175    32     7     5
10 cobbty01   1928     1 PHA    AL       95   353    54   114    27     4     1
# … with 12 more variables: RBI <int>, SB <int>, CS <int>, BB <int>, SO <int>,
#   IBB <int>, HBP <int>, SH <int>, SF <int>, GIDP <int>, bat_avg <dbl>,
#   bat_avg_year <dbl>

## Exercise
Now output all rows for each player that underperform, that is, their bat_avg_year is less than bat_avg.

That is, we are interested in knowing whether there is any specific year that the players underperform.

## Exercise
Write code to find the player with the highest bat_avg for each team. You may find the function `slice_max` useful.

## Names of baseball players

Let us think more about names. Naming frequencies change a lot over time. There are 19617 baseball players in this data set. How have their names changed over time?

We are going to extract the first name and last name in our data set `Lahman::Master` by linking the playerID.

## Exercise
What were the top five most common first names for players born before 1900? After 1980?

One thing we notice is that there are a lot of nicknames. It might make more sense to look at the "given name", which is usually the first and middle names. To do this, we will need to split up these names. There is a built-in command for doing this in R:

## Exercise
What were the top five most common first names for players born before 1900? After 1980?

## Finding distinct values

Here's an example: I want to know how many distinct values are there? The `n_distinct()` function takes a vector of values, and returns the number of distinct values:

## Exercise
How many distinct names were there among players born before 1900? After 1980?

Are there more or less unique names now than there were in the past? Let's consider the number of distinct names seen in each year:

# Covariation Between Two Variables

### A Categorical and A Continuous Variable

In [19]:
print(mpg)

# A tibble: 234 x 11
   manufacturer model    displ  year   cyl trans   drv     cty   hwy fl    class
   <chr>        <chr>    <dbl> <int> <int> <chr>   <chr> <int> <int> <chr> <chr>
 1 audi         a4         1.8  1999     4 auto(l… f        18    29 p     comp…
 2 audi         a4         1.8  1999     4 manual… f        21    29 p     comp…
 3 audi         a4         2    2008     4 manual… f        20    31 p     comp…
 4 audi         a4         2    2008     4 auto(a… f        21    30 p     comp…
 5 audi         a4         2.8  1999     6 auto(l… f        16    26 p     comp…
 6 audi         a4         2.8  1999     6 manual… f        18    26 p     comp…
 7 audi         a4         3.1  2008     6 auto(a… f        18    27 p     comp…
 8 audi         a4 quat…   1.8  1999     4 manual… 4        18    26 p     comp…
 9 audi         a4 quat…   1.8  1999     4 auto(l… 4        16    25 p     comp…
10 audi         a4 quat…   2    2008     4 manual… 4        20    28 p     comp…
# … with 224 more rows

We can map a categorical variable to, say, the **color** aesthetic in a frequency polygon of a continuous variable.

Mapping the `color` aesthetic to the `class` variable in a histogram does not have a good effect.

Changing the **fill** aesthetic to the **color** aesthetic improves the appearance but the plot remains problematic.

Another thing we can do with a categorical, continuous pair is to use a **boxplot**.

* The lower and upper hinges correspond to the first and third quartiles (the 25th and 75th percentiles).
* The upper whisker extends from the hinge to the largest value no further than 1.5 * IQR from the hinge (where IQR is the inter-quartile range, or distance between the first and third quartiles).
* The lower whisker extends from the hinge to the smallest value at most 1.5 * IQR of the hinge.
* Data beyond the end of the whiskers are called "outlying" points and are plotted individually.

To replot with `class` values listed in order of the median value for `cty`, we can use the `reorder()` function.

```
reorder(cat, con, FUN = median)
```

reorders the levels of the categorical variable `cat` according the continuous variable `con`. The function `median()` is applied the the `con` values corresponding to a fixed level of `cat`. Default value of the `FUN` argument is `mean`.

We can flip the x, y axes if the categorical level names are long

Contrast this with faceting the `cty` histogram on the `class` variable.

We can also superimpose the points themselves on top of the boxplot by adding `geom_jitter`. But it is a good idea to hide the outliers by setting `outlier.shape = NA` first.

# Two categorical variables

`geom_count` can be used to visualize two categorical variables.`geom_count` can be used to visualize two categorical variables.

We can compute these numbers using `count()`.

These counts can be fed to other geometries.

# Two continuous variables

We already know a lot about scatterplots. Once you have too many points, you may want to use `geom_bin2d` or `geom_hex`.We already know a lot about scatterplots. Once you have too many points, you may want to use `geom_bin2d` or `geom_hex`.

Sometimes setting the transparency of points using `alpha` can help.

Let us try to see what happens if we use a boxplot with 2 continuous variables: `price` as a function of `carat` for the `diamonds` tibble.

If outliers run into each other, you could adjust `outlier.alpha`.