# Lecture 10.1: Writing Functions in R
<div style="border: 1px double black; padding: 10px; margin: 10px">

**After today's lecture you will understand:**
* how to write functions in R
</div>

This correpsonds to Chapter 19.1--19.6 of your book

In [19]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Functions

Often when programming we find ourselves repeating the same block of code with minor modifications. 

We start with a preliminary exercise where we standardize our vector to have mean zero and standard deviation one.  To achieve this, we can brute force our way through by centering our data first, and then divide by its standard deviation.

In [3]:
x <- c(1,5,-11,20)
print(x)

[1]   1   5 -11  20

Now let say you have to perform this task again for another vector.  You can simply repeat the above calculations.

Or, we could write a function in R to help us achieve what we want!

Now let us try to create another function with a different purpose based on what we have learnt so far. Suppose we want to normalize each column of this tibble to be in $[0,1]$:

In [22]:
set.seed(1)
df <- tibble(
  a = rnorm(10),
  b = rnorm(10),
  c = rnorm(10),
  d = rnorm(10)
) %>% print

# A tibble: 10 x 4
        a       b       c       d
    <dbl>   <dbl>   <dbl>   <dbl>
 1 -0.626  1.51    0.919   1.36
 2  0.184  0.390   0.782  -0.103
 3 -0.836 -0.621   0.0746  0.388
 4  1.60  -2.21   -1.99   -0.0538
 5  0.330  1.12    0.620  -1.38
 6 -0.820 -0.0449 -0.0561 -0.415
 7  0.487 -0.0162 -0.156  -0.394
 8  0.738  0.944  -1.47   -0.0593
 9  0.576  0.821  -0.478   1.10
10 -0.305  0.594   0.418   0.763

To normalize we will need to subtract the minimum from each column and divide by its range:

This required a bunch of repetitive typing.  In situations like this we should again write a function to help us achieve what we want to do!

## Anatomy of a function
To write a function we should first think about the inputs and output. A function takes input(s), does something(s) to them, and then returns an output.

What are the input(s) and output of our normalize function?
```{r}
df$a <- (df$a - min(df$a, na.rm = TRUE)) / 
  (max(df$a, na.rm = TRUE) - min(df$a, na.rm = TRUE))
```

Notice how we have taken our code and converted every instance of `df$a` to `x`, which is the name that we have assigned to our function argument.

Now that we have defined our function, we can replace our code with a nicer looking version:

In [29]:
set.seed(1)
df <- tibble(
  a = rnorm(10),
  b = rnorm(10),
  c = rnorm(10),
  d = rnorm(10)
) %>% print

# A tibble: 10 x 4
        a       b       c       d
    <dbl>   <dbl>   <dbl>   <dbl>
 1 -0.626  1.51    0.919   1.36
 2  0.184  0.390   0.782  -0.103
 3 -0.836 -0.621   0.0746  0.388
 4  1.60  -2.21   -1.99   -0.0538
 5  0.330  1.12    0.620  -1.38
 6 -0.820 -0.0449 -0.0561 -0.415
 7  0.487 -0.0162 -0.156  -0.394
 8  0.738  0.944  -1.47   -0.0593
 9  0.576  0.821  -0.478   1.10
10 -0.305  0.594   0.418   0.763

This is considerably simpler, but still has some repetition. Soon we will learn about iteration and ways to cut down further on repetition.

## Conditional execution
Often when writing functions we need to do different things depending on what data is passed in. This is known as *conditional execution*, and is accomplished using the `if/else` construct:
```{r}
if (condition) {
  # code executed when condition is TRUE
} else {
  # code executed when condition is FALSE
}
```

### Exercise
Write a function that inputs a number x and ouptut x/2 when x can be divided by 2, and output 3*x+1 otherwise.

### Exercise
Write a function `fizzbuzz(x)` that prints "fizz" if x is less than three, and "buzz" otherwise.
```{r}
> fizzbuzz(3)
[1] "fizz"
> fizzbuzz(4)
[2] "buzz"
```

`if/else` and `ifelse()` are very different. `ifelse()` is a *function* that takes three vector arguments and returns a new vector. `if/else` tells R to conditionally execute code.

### Conditions
The `condition` part of the `if` statement must evaluate to either a single `TRUE` or `FALSE`. If it does not, you will get a warning:

(Why?) Similarly, a condition of `NA` will generate an error:
```{r}
> if (NA) { 1 }
Error in if (NA) {: missing value where TRUE/FALSE needed
Traceback:
```

#### Logical operators
Often you will need to combine multiple logical conditions in an `if` statement. To do this we have the `&&` and `||` operators, which take the logical `and` and `or`, respectively, of several logical conditions:

There is a subtle but important difference betwen the single and double versions of these operators. The single `&` performs entrywise `AND` over logical vectors:

#### Testing for equality
Be careful when testing for equality in conditionals. The `==` operator will return a *vector* of logicals. If you want to make sure that any/all entries of a vector are `TRUE`, use the `any()` or `all()` functions:

### RETURN Statement