# STATS 306 Fall 2021
## Homework 3: Data Manipulation, 30 points


**Due:** 09/23/2021 by 5:00pm

Your uniqid: `<replace with your uniqid>`

For your homework, you will be using the packages `tidyverse`, `nycflights13`, and `babynames`.  The `flights` data set will be available after loading the library `nycflights13`.   To install the packages and load the library, follow the instruction below.

In [3]:
install.packages("babynames")

The downloaded binary packages are in
	/var/folders/br/gjgfqmdn1d5cmwrq6b8z_mf80000gn/T//RtmpayLur5/downloaded_packages

In [5]:
library(babynames)
library(tidyverse)
library(nycflights13)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Problem 1, 5 points

**(a)** Alice wants to find all rows in the `flights` data frame (part of the `nycflights13` package) that have the `arr_time` variable missing. She types the command `filter(flights, arr_time == NA)` and sees that she retrieved zero rows! In the first markdown cell below, explain why and then in the following code cell write the correct command for Alice. _3 points_

**(b)** Name four variables in the tibble `flights` whose *type* is character vector, or string. _2 points_

## Problem 2 (On Baby Names ), 5 points

# Social security names database
The remaining problems look at a different data set of [names from the Social Security Administration](https://www.ssa.gov/oact/babynames/).  The data set object is `babynames`.

In [27]:
print(as_tibble(babynames))

# A tibble: 1,924,665 x 5
    year sex   name          n   prop
   <dbl> <chr> <chr>     <int>  <dbl>
 1  1880 F     Mary       7065 0.0724
 2  1880 F     Anna       2604 0.0267
 3  1880 F     Emma       2003 0.0205
 4  1880 F     Elizabeth  1939 0.0199
 5  1880 F     Minnie     1746 0.0179
 6  1880 F     Margaret   1578 0.0162
 7  1880 F     Ida        1472 0.0151
 8  1880 F     Alice      1414 0.0145
 9  1880 F     Bertha     1320 0.0135
10  1880 F     Sarah      1288 0.0132
# … with 1,924,655 more rows

**(a)** Use `filter` to extract the baby name Arya that is Female and save it as `Aryababygirl`. _2 points_

**(b)** Plot a barchart using the data set `Aryababygirl` via the function `geom_col` with the variable `year` in your `x-axis` and `n` in your `y-axis`. Explain what you have observed.  _3 points_

## Problem 3, Data Manipulation on Flight Data, 20 points

**(a)** Use the `%in%` operator to extract all the flights that took place in months that begin with the letter "A". Store the resulting table in a variable called `table1`.  You may find the function `substr` useful.  _3 points_

**(b)** Find the number of United Airlines flights that departed exactly on time and arrived exactly on time. Store this number in a variable called `n2`. Then, print `n2`.  You should get 58 as your answer.  _3 points_

**(c)** Find all flights destined for `LAX` or `SFO` which departed more than an hour late, but did not arrive late. Store this table in a variable called `table3`. Print `table3` using the function head.  _3 points_

**(d)** Find the number of flights in May that are missing their departure time or their arrival time, but not both. Store this number in a variable called `n4`. Print `n4`. You should get 38.   _3 points_

**(e)** Write code to construct a tibble/dataframe with `tailnumber` and air_time, with rows arranged according to decreasing air_time.  You should see that the first row of your data set is `N77066` with an air-time of 695 minutes. You may find the function `arrange` helpful.  _3 points_

**(f)** Define a flight to be "spooky" if it was in the air at 1:13pm on either Halloween or Friday, September 13th. There were 110 spooky flights on Friday the 13th. How many spooky flights are there in total? Store your answer in a variable called `nspooky` and print it out using the print function. Note that Halloween is October 31st.   _3 points_

**(g) Challenge Problem**
Sort the rows of `flights` such that the months are arranged in the following order: spring, summer, fall, winter. (Here we define winter to be January-March, spring is April-June, etc.) Within each season, the months should be sorted in ascending order. After sorting, drop all columns except for month, day and tail number. Store the sorted and subsetted table in a variable called `season`. _2 points_