# STATS 306 Fall 2021
## Homework 8: String, Factor, and Date --  30 points

**Assigned:** 11/04/2021 

**Due:** 11/11/2021 by 11:59pm

Your uniqid: `<replace with your uniqid>`

For your homework, you will be using the packages `tidyverse`, `stringr` and `lubridate`.

In [12]:
library(tidyverse)
library(stringr)
library(lubridate)

## Problem 1, Basics on String 18 points

The file `tweets.RData` contains tweets from September, 2016 (a few may lay outside of this range.) I have cleaned the file so that it is easier for you to work with.  The first line of the text data looks like the following:

``T\t2009-06-11 00:00:03"

 Use the following code to load the data.  Note that in a tibble, the \t would not be printed out.  But the T U W in each line is followed by \t rather than a space.

In [25]:
load("tweets.RData")
tweets1 %>% slice(1:5)

  value
1 T\t2009-06-11 00:00:03
2 U\thttp://twitter.com/imdb
3 W\tNo Post Title
4 T\t2009-06-11 16:37:14
5 U\thttp://twitter.com/ncruralhealth

Even though the tibble does not show you the \t, but your data should look like the following 
```{r}
# A tibble: 
   value                                                                         
   <chr>                                                                      
 1 "T\t2009-06-11 00:00:03"                                                   
 2 "U\thttp://twitter.com/imdb"                                               
 3 "W\tNo Post Title"                                                         
 4 "T\t2009-06-11 16:37:14"                                                   
 5 "U\thttp://twitter.com/ncruralhealth"                                      
 6 "W\tNo Post Title"                                                         
 7 "T\t2009-06-11 16:56:23"                                                   
 8 "U\thttp://twitter.com/boydjones"                                          
 9 "W\tlistening to \"Big Lizard - The Dead Milkmen\" ♫ http://blip.fm/~81kwz"
10 "T\t2009-06-11 16:56:59"                                                   
...
```

Each datum consists of a triple of lines marked `T`, `U` and `W` containing the time of the tweet, the user, and the message itself, respectively. Each triple is separated by an empty line. Each datum consists of a triple of lines marked `T`, `U` and `W` containing the time of the tweet, the user, and the message itself, respectively.

### **(a)**  _8 points_

Convert `tweets1` so that it has three columns reflecting the three variables present in this data set. Store the resulting table in a variable called `tweets2`. The first rows of `tweets2` will now look like:
```
# A tibble: 3 x 3
  T                   U                                W                       
  <chr>               <chr>                            <chr>                   
1 2009-06-11 00:00:03 http://twitter.com/imdb          No Post Title           
2 2009-06-11 16:37:14 http://twitter.com/ncruralhealth No Post Title           
3 2009-06-11 16:56:23 http://twitter.com/boydjones     "listening to \"Big Liz…
```
(*Hint*: If you are having trouble getting this working on the full data set, try subsetting the table to a small number of rows in order to debug your code. Here you need to use functions that you have learnt for manipulating tables from the first half of the class.)

### **(c)**  _6 points_

-  Convert the `T` column to a properly formatted datetime object and name it ```time```. 
-  Strip off the leading `http://twitter.com/` from `U` and name it ```user```. 
-  Rename `W` to ```tweet```.

Store the resulting table as `tweets3`. It will look like:
```
# A tibble: 370,997 x 3
   time                user          tweet                                     
   <dttm>              <chr>         <chr>                                     
 1 2009-06-11 00:00:03 imdb          No Post Title                             
 2 2009-06-11 16:37:14 ncruralhealth No Post Title                             
 3 2009-06-11 16:56:23 boydjones     "listening to \"Big Lizard - The Dead Mil…
 4 2009-06-11 16:56:59 cameron987    @beatrizchavez A dork? NO way... you are.…
 5 2009-06-11 16:57:03 selenato      @okaaaa 本当ね！2週間楽しみがありすぎわ、まじで…本当きどうさんへの愛がこ…
 6 2009-06-11 16:57:30 nbeasley10    Just got a chance to buy All-Star tickets…
 7 2009-06-11 16:57:31 littlewing333 @kidhum and if an act has pull and they d…
 8 2009-06-11 16:57:33 lolcute       mebbe U fetch http://tinyurl.com/nz4fbr   
 9 2009-06-11 16:57:36 fr0st22       I have broken 1,000 twitter updates. Paaa…
10 2009-06-11 16:57:59 mavellsyrup   Food timmeeee :'D                         
# ... with 370,987 more rows
```

### **(d)**  _4 points_

Make a histogram of the total number of tweets by hour in `tweets3`. Set the binwidth to 1 hour. 

Based on your plot, write down the busiest hour and the least-busy hour for tweeting.

Hint: The ```hour()``` function from lubridate will be helpful here.

## Problem 2,  Sentiment analysis of Twitter data _12 points_
*Sentiment analysis* tries to assign a numerical sentiment score to written language. Positive language has a positive sentiment score and similarly for negative language. We will use the same `sentiments` table that we saw in lecture:

In [29]:
load("sentiments.RData")
print(sentiments)

# A tibble: 2,476 × 2
   word       score
   <chr>      <int>
 1 abandon       -2
 2 abandoned     -2
 3 abandons      -2
 4 abducted      -2
 5 abduction     -2
 6 abductions    -2
 7 abhor         -3
 8 abhorred      -3
 9 abhorrent     -3
10 abhors        -3
# … with 2,466 more rows

### (a) _6 points_

Define the sentiment score of each tweet in `tweets3` to be the sum of all the sentiment scores for all matching words in the `sents` table. For example, if the tweet says `I abhor abductions`, then, from the above table, it would get a sentiment score of -5. (If a tweet does not have any matching sentiment words, assign it a score of zero.). Store the result in ```tweets5```.

The first rows will be
```
# A tibble: 6 x 4
  time                user        tweet         score
  <dttm>              <chr>       <chr>         <int>
1 2009-06-04 20:34:13 npu         No Post Title    -1
2 2009-06-05 10:52:19 marcorubio  No Post Title    -1
3 2009-06-08 14:36:06 alew        No Post Title    -1
4 2009-06-09 20:50:04 marcorubio  No Post Title    -1
5 2009-06-11 00:00:03 imdb        No Post Title    -1
```

Hint: 
-  The words in the sentiment dataset are all lower case.
-  Use ```str_extract_all()``` to break each tweet into a vector of words. 
-  The ```unnest()``` function can then be useful to expand this vector so each row of the tibble corresponds to one word in one tweet.

### (b) _6 points_

Plot a histogram of sentiment score for each day of the week.